@import "tailwindcss";
@plugin "daisyui";

@custom-variant dark (&:where(.dark, .dark *));

/* src/app/globals.css */
:root {
  --font-nunito: "Nunito Sans", sans-serif;
}
@theme {
  /* --breakpoint-2xl: 100rem; */
  --breakpoint-3xl: 140rem;
}
html {
  font-family: var(--font-nunito), sans-serif;
}

h1 {
  all: revert;
}
